$black: #1A1A1A;
$blue: #003F60; // navbar
$lightblue: #0D6FA1; // filters
$teal: #12A99C; // search button
$female-icon: #D69690;
$male-icon: #8DD1CB;
$cake-icon: #909FD6;
$star: #C79320; // empty has a blue border and white background
$background-color:#F8F8F8;
$max-width-page:1024px;